.profile {
  padding-top: 50px;
}
.profile__route {
  border-top: 1px solid #979797;
}
.profile__route-container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  border-bottom: 1px solid #979797;
}
.profile__route-link {
  padding-bottom: 14px;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #414d6a;
  margin-right: 35px;
  text-decoration: none;
}
.profile__route-link--static {
  color: #304fff;
  border-bottom: 2px solid #304fff;
}
.profile__route-link:focus {
  color: #304fff;
  border-bottom: 2px solid #304fff;
}
